#bar-chart {
    width: 50%;
}
@media screen and (max-width: 500px){
    #bar-chart {
        width:auto;
    }
}
@media screen and (min-width: 2000px){
    #bar-chart {
        font-size: 500px;
    }
}